
singularity {
    enabled = true
    autoMounts = true
}

process {
  withLabel: 'rocker'         { container = 'rocker/tidyverse:latest' }
  withLabel: 'bcftools'       { container = 'bcftools.1.19' }
}
    
params {
    // Default params
    categories    = 'Rare,Damaging'
    aggregate_by  = 'SYMBOL'
    remove_benign = false
    remove_vus    = false
    remove_lc     = true
    freq_tag      = 'VEP'
    vep_tag       = 'vep.vep'
    AF_COL        = 'gnomADe_NFE_AF'
    AF            = 0.5
    AC            = 1
    DS            = 0.2
    CADD          = 5
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile (Same as default params)
  test {
    params {
      cohorts   = "input/cohorts_info.csv"
    }
  }
}
